.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

#loadingSpinner {
	font-size: 100px;
}
.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
  }
  
@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

.pui-status{
	color:gray;
	font-size: 18pt;
}
.pui-status.running{
	color:yellow;
}
.pui-status.running.dark{
	color:orange;
}
.pui-status.success{
	color:green;
}
.pui-status.error{
	color:red;
}